body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

#userList {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}